* {
    transition: all 0.25s ease-in-out;
}

.main_container {
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
}

.header {
    width: 100%;
    height: 5rem;
    /* background-color: darkcyan; */
    display: flex;
    align-items: center;
    /* background-color: #3498db; */
    background-image: linear-gradient(to right, #e2e4e9 11%,  #0c2e63 33%, #e2e4e9  100%);
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header_content {
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}
.honda{
    width: 10%;
    border-radius: 5px;
}
.deevia{
    width: 10%;
    border-radius: 5px;
}
.honda_logo{
    width: 52%;
    border-radius: 0px;
}

.deevia_logo {
    width: 100%;
    border-radius: 5px;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
    /* padding: 5px; */
    /* transition: all 0.3s ease-in-out; */
    margin: auto;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

.details_container {
    width: 100%;
    flex-direction: column;
    background-color: #f0f0f0;
}
/* 
.wrapper:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
} */

.title_content {
    font-size: 22px;
    font-weight: 600;
    width: 90%;
    border-radius: 4px;
    /* background-color: #a4b0bf; */
    background-image: linear-gradient(to right, #0c2e63 16%,  #e2e4e9 51%, #e2e4e9  100%);
    color: #ffffff;
    /* background-image: linear-gradient(to right, #a3bdd3 16%, #0c2e63 51%, #0c2e63 100%); */

    /* background-color: rgb(90, 86, 86);
    color: rgb(234, 171, 12); */
    text-align: left;
    padding: 5px;
}

.details_content {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1rem;
    margin: 1%;
    background-color: #b3bccc;
    border-radius: 2px;
    /* border: #dcdcdc 1px solid; */
    /* padding: 5px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* border: 1px solid #ccc; */
}
.layerOne , .layerTwo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.data_content {
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: left;
    gap: 2.5rem;
    margin-left: 1%;
    /* border: 1px solid #ccc; */
}
.data_content_two {
    width: 28%;
    display: flex;
    text-align: center;
    /* justify-content: center; */
    gap: 3rem;
}

.data_title {
    display: flex;
    justify-content: space-between;
    width: 27%;
    font-size: 20px;
    /* background-color: darkgray;
    color: rgb(197, 146, 19); */
    font-weight: 600;
}
.data_title_two{
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 20px;
    font-weight: 600;
}
.data {
    /* width: 40%; */
    font-weight: 500;
}
.table_content {
    width: 100%;
    margin-top: 1%;
}

.table_content>table {
    margin: auto;
    width: 90%;
    text-align: center;
    border-radius: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
}

th {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e2e4e9;
    /* background-color: #f9f9f9; */
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

tbody th[scope="row"],
tbody th[scope="rowgroup"] {
    vertical-align: middle;
    text-align: center;
}

tbody :hover {
    background-color: #d0d0d0;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* .deevia_logo:hover {
    animation: pulse 0.5s ease-in-out infinite;
  }
  .honda_logo:hover {
    animation: pulse 0.5s ease-in-out infinite;
  }
   */